/* [Default] */

    .br0
    {
        border-radius: 0px!important;
    }

    .br2
    {
        border-radius: 2px!important;
    }

    .br4
    {
        border-radius: 4px!important;
    }

    .br6
    {
        border-radius: 6px!important;
    }

    .br8
    {
        border-radius: 8px!important;
    }

    .br10
    {
        border-radius: 10px!important;
    }

    .br14
    {
        border-radius: 14px!important;
    }

    .br18
    {
        border-radius: 18px!important;
    }

    .br22
    {
        border-radius: 22px!important;
    }

    .br26
    {
        border-radius: 26px!important;
    }

    .br30
    {
        border-radius: 30px!important;
    }

    .br40
    {
        border-radius: 40px!important;
    }

    .br50
    {
        border-radius: 50px!important;
    }

    .br60
    {
        border-radius: 50px!important;
    }

    .br70
    {
        border-radius: 50px!important;
    }

    .br80
    {
        border-radius: 50px!important;
    }

    .br90
    {
        border-radius: 50px!important;
    }

    .br100
    {
        border-radius: 100%!important;
    }