/* [Default] */

    .fs8
    {
        font-size: 8px!important;
        line-height: 18px!important;
    }

    .fs9
    {
        font-size: 9px!important;
        line-height: 19px!important;
    }

    .fs10
    {
        font-size: 10px!important;
        line-height: 20px!important;
    }

    .fs11
    {
        font-size: 11px!important;
        line-height: 21px!important;
    }

    .fs12
    {
        font-size: 12px!important;
        line-height: 22px!important;
    }

    .fs13
    {
        font-size: 13px!important;
        line-height: 23px!important;
    }

    .fs14
    {
        font-size: 14px!important;
        line-height: 24px!important;
    }

    .fs15
    {
        font-size: 15px!important;
        line-height: 25px!important;
    }

    .fs16
    {
        font-size: 16px!important;
        line-height: 26px!important;
    }

    .fs18
    {
        font-size: 18px!important;
        line-height: 28px!important;
    }

    .fs20
    {
        font-size: 20px!important;
        line-height: 30px!important;
    }

    .fs22
    {
        font-size: 22px!important;
        line-height: 32px!important;
    }

    .fs24
    {
        font-size: 24px!important;
        line-height: 34px!important;
    }

    .fs28
    {
        font-size: 28px!important;
        line-height: 38px!important;
    }

    .fs32
    {
        font-size: 32px!important;
        line-height: 42px!important;
    }

    .fs36
    {
        font-size: 36px!important;
        line-height: 46px!important;
    }

    .fs42
    {
        font-size: 42px!important;
        line-height: 52px!important;
    }

    .fs48
    {
        font-size: 48px!important;
        line-height: 58px!important;
    }

    .fs56
    {
        font-size: 56px!important;
        line-height: 66px!important;
    }

    .fs62
    {
        font-size: 62px!important;
        line-height: 72px!important;
    }

    .fs68
    {
        font-size: 68px!important;
        line-height: 78px!important;
    }