/* [Default] */

    .grid
    {
        display: grid!important;
    }

/* [Grid Gap] */

    .grid.gap5
    {
        grid-gap: 5px!important;
    }

    .grid.gap10
    {
        grid-gap: 10px!important;
    }

    .grid.gap15
    {
        grid-gap: 15px!important;
    }

    .grid.gap20
    {
        grid-gap: 20px!important;
    }

    .grid.gap25
    {
        grid-gap: 25px!important;
    }

    .grid.gap30
    {
        grid-gap: 30px!important;
    }

    .grid.gap35
    {
        grid-gap: 35px!important;
    }

    .grid.gap40
    {
        grid-gap: 40px!important;
    }

    .grid.gap45
    {
        grid-gap: 45px!important;
    }

    .grid.gap50
    {
        grid-gap: 50px!important;
    }

/* [Grid Columns] */

    .grid.col1
    {
        grid-template-columns: repeat(1, minmax(5px, 1fr));
    }

    .grid.col2
    {
        grid-template-columns: repeat(2, minmax(5px, 1fr));
    }

    .grid.col3
    {
        grid-template-columns: repeat(3, minmax(5px, 1fr));
    }

    .grid.col4
    {
        grid-template-columns: repeat(4, minmax(5px, 1fr));
    }

    .grid.col5
    {
        grid-template-columns: repeat(5, minmax(5px, 1fr));
    }

    .grid.col6
    {
        grid-template-columns: repeat(6, minmax(5px, 1fr));
    }

    .grid.col7
    {
        grid-template-columns: repeat(7, minmax(5px, 1fr));
    }

    .grid.col8
    {
        grid-template-columns: repeat(8, minmax(5px, 1fr));
    }

    .grid.col9
    {
        grid-template-columns: repeat(9, minmax(5px, 1fr));
    }

    .grid.col10
    {
        grid-template-columns: repeat(10, minmax(5px, 1fr));
    }

/* [Grid Auto] */

    .grid.auto50
    {
        grid-template-columns: repeat(auto-fit, minmax(50px, 50px));
    }

    .grid.auto100
    {
        grid-template-columns: repeat(auto-fit, minmax(100px, 100px%));
    }

    .grid.auto150
    {
        grid-template-columns: repeat(auto-fit, minmax(150px, 150px));
    }

    .grid.auto200
    {
        grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
    }

    .grid.auto250
    {
        grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
    }

    .grid.auto300
    {
        grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    }

    .grid.auto350
    {
        grid-template-columns: repeat(auto-fit, minmax(350px, 350px));
    }

    .grid.auto400
    {
        grid-template-columns: repeat(auto-fit, minmax(400px, 400px));
    }

    .grid.auto450
    {
        grid-template-columns: repeat(auto-fit, minmax(450px, 450px));
    }

    .grid.auto500
    {
        grid-template-columns: repeat(auto-fit, minmax(500px, 500px));
    }