/* [Margin Full] */

    .mf5
    {
        margin: 5px!important;
    }

    .mf10
    {
        margin: 10px!important;
    }

    .mf15
    {
        margin: 15px!important;
    }

    .mf20
    {
        margin: 20px!important;
    }

    .mf25
    {
        margin: 25px!important;
    }

    .mf30
    {
        margin: 30px!important;
    }

    .mf35
    {
        margin: 35px!important;
    }

    .mf40
    {
        margin: 40px!important;
    }

    .mf45
    {
        margin: 45px!important;
    }

    .mf50
    {
        margin: 50px!important;
    }

    .mf60
    {
        margin: 60px!important;
    }

    .mf70
    {
        margin: 70px!important;
    }

    .mf80
    {
        margin: 80px!important;
    }

    .mf90
    {
        margin: 90px!important;
    }

    .mf100
    {
        margin: 100px!important;
    }

/* [Margin Top Bottom] */

    .mtb5
    {
        margin: 5px 0px!important;
    }

    .mtb10
    {
        margin: 10px 0px!important;
    }

    .mtb15
    {
        margin: 15px 0px!important;
    }

    .mtb20
    {
        margin: 20px 0px!important;
    }

    .mtb25
    {
        margin: 25px 0px!important;
    }

    .mtb30
    {
        margin: 30px 0px!important;
    }

    .mtb35
    {
        margin: 35px 0px!important;
    }

    .mtb40
    {
        margin: 40px 0px!important;
    }

    .mtb45
    {
        margin: 45px 0px!important;
    }

    .mtb50
    {
        margin: 50px 0px!important;
    }

    .mtb60
    {
        margin: 60px 0px!important;
    }

    .mtb70
    {
        margin: 70px 0px!important;
    }

    .mtb80
    {
        margin: 80px 0px!important;
    }

    .mtb90
    {
        margin: 90px 0px!important;
    }

    .mtb100
    {
        margin: 100px 0px!important;
    }

/* [Margin Left Right] */

    .mlr5
    {
        margin: 0px 5px!important;
    }

    .mlr10
    {
        margin: 0px 10px!important;
    }

    .mlr15
    {
        margin: 0px 15px!important;
    }

    .mlr20
    {
        margin: 0px 20px!important;
    }

    .mlr25
    {
        margin: 0px 25px!important;
    }

/* [Margin Top] */

    .mt5
    {
        margin-top: 5px!important;
    }

    .mt10
    {
        margin-top: 10px!important;
    }

    .mt15
    {
        margin-top: 15px!important;
    }

    .mt20
    {
        margin-top: 20px!important;
    }

    .mt25
    {
        margin-top: 25px!important;
    }

    .mt30
    {
        margin-top: 30px!important;
    }

    .mt35
    {
        margin-top: 35px!important;
    }

    .mt40
    {
        margin-top: 40px!important;
    }

    .mt45
    {
        margin-top: 45px!important;
    }

    .mt50
    {
        margin-top: 50px!important;
    }

/* [Margin Bottom] */
    
    .mb0
    {
        margin-bottom: 0!important
    }

    .mb5
    {
        margin-bottom: 5px!important;
    }

    .mb10
    {
        margin-bottom: 10px!important;
    }

    .mb15
    {
        margin-bottom: 15px!important;
    }

    .mb20
    {
        margin-bottom: 20px!important;
    }

    .mb25
    {
        margin-bottom: 25px!important;
    }

    .mb30
    {
        margin-bottom: 30px!important;
    }

    .mb35
    {
        margin-bottom: 35px!important;
    }

    .mb40
    {
        margin-bottom: 40px!important;
    }

    .mb45
    {
        margin-bottom: 45px!important;
    }

    .mb50
    {
        margin-bottom: 50px!important;
    }